body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 75px;
    margin-right: 75px;
    margin-bottom: 75px;
}

table {
    border-collapse: collapse;
    width: 700px;
}

.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

table, th, td {
    border: 1px solid black;
    padding: 10px;
}

.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
}

.btn {
    border-radius: 100%;
    background-color: transparent;
    margin: 24px;
    float: right;
}

.content {
    float: left;
    text-align: center;
    margin: 24px;
}

th.Monday {
    background-color: #FFCCCB;
    text-transform: uppercase;
}

th.Tuesday {
    background-color: #FED8B1;
    text-transform: uppercase;
}

th.Wednesday {
    background-color: lightgoldenrodyellow;
    text-transform: uppercase;
}

th.Thursday {
    background-color: lightgreen;
    text-transform: uppercase;
}

th.Friday {
    background-color: lightblue;
    text-transform: uppercase;
}

th.Saturday {
    background-color: #CBC3E3;
    text-transform: uppercase;
}

th.Sunday {
    background-color: lightgray;
    text-transform: uppercase;
}