{% extends 'base.html' %}

{% block body %}
    <div class="form">
        <h2>Enter Task Here:</h2>
        <form action="/" method="POST">
            <input type="text" name="content" id="content">
            <select name="due_date">
                {% for day in days_of_the_week %}
                    <option value="{{ day }}">{{ day }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Add Task">
        </form>
    </div>

    <div class="box">
        {% for day in days_of_the_week %}
            <table>
                <tr>
                    <th class={{ day }}>{{ day }}</th>
                </tr>
                    {% if tasks|selectattr("due_date", "==", day)| list | length < 1 %}
                    <tr>
                        <td><h4 style="text-align: center">There are currently no tasks. Start by creating one below!</h4></td>
                    </tr>
                    {% else %}
                        {% for task in tasks%}
                            {% if task.due_date == day %}
                                <tr>
                                    <td>
                                    <span class="content" id="text-{{ task.id }}">{{ task.content}}</span>
                                        <form action="/update/{{ task.id }}" method="POST" style="display: none" class="content" id="form-{{ task.id }}">
                                            <input type="text" name="content" id="input-{{ task.id }}" value="{{task.content}}">
                                            <select name="due_date" id="{{ task.id }}">
                                                {% for day in days_of_the_week %}
                                                    <option value="{{ day }}">{{ day }}</option>
                                                {% endfor %}
                                            </select>
                                            <input type="submit" value="Update Task">
                                        </form>

                                        <button class="btn" id="complete" name="complete"><img src="/static/icons/check_icon.png"></button>
                                        <button class="btn update" id="update-{{task.id}}" name="update" onclick="getId(this.id)"><img src="/static/icons/pencil_icon.png"></button>
                                        <a href="/delete/{{task.id}}"><button class="btn" id="delete" name="{{ task.id }}"><img src="/static/icons/delete_icon.png"></button></a>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </table> 
            {% endfor %}
        </div>
{% endblock %}